<title>Documents</title>
<div id="container">
  <div id="docs" style="width: 200px">
    <%@documents.each do |document|%>
      <div class="doc" style="border: 1px solid;width: 100%">
        Document:<a class ="link" href='<%=document.document.url%>'><%=document.name%></a>
        <p class="description">Description: <%=document.description%><p>
        <%= link_to "Delete", "/delete_document/#{document.id}", :method => "delete" %>
      </div>
    <%end%>
  </div>
</div>