<title>Documents</title>
<div id="container">
  <div id="docs" style="width: 200px">
    <%@documents.each do |document|%>
      <div class="doc" style="border: 1px solid;width: 100%">
        Document:<%=link_to document.name, document_path(document)%>
        <p class="description">Description: <%=document.description%><p>
        <%= link_to "Delete", document_path(document), :method => "delete" %>
      </div>
    <%end%>
  </div>
</div>